!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sharebox by Timekeeper
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container{:style => "padding-top:20px;"}
    %header
    .header_inner
      = link_to image_tag(''), root_path, id: "logo"
      %nav
      = yield
